@import "tailwindcss";

@theme {
  --font-sans: "Inter Variable", Inter, sans-serif;

  --color-brand-pink: #E62E5C;
  --color-brand-pink-light: #FDECF0;
  --color-brand-green: #1F8A5F;
  --color-brand-green-light: #E9F7EF;
}

body {
  margin: 0;
}